<!-- IF .prefix_option or .prefix_used -->
<div class="prefix-dropdown-container dropdown-container dropdown-right dropdown-down">
	<a href="#" class="dropdown-trigger dropdown-toggle"><span class="prefix-dropdown-toggle">(no prefix)</span></a>
	<div class="dropdown prefix-dropdown">
		<div class="pointer"><div class="pointer-inner"></div></div>
		<ul id="available_prefixes" class="prefixed_sortable">
			<!-- BEGIN prefix_option --><li id="prefix_{prefix_option.ID}" data-id="{prefix_option.ID}">{prefix_option.TITLE}</li><!-- END prefix_option -->
		</ul>
		<ul id="used_prefixes" class="prefixed_sortable">
			<!-- BEGIN prefix_used --><li id="prefix_{prefix_used.PREFIX}" data-id="{used.PREFIX}">{prefix_used.TITLE}</li><!-- END prefix_used -->
		</ul>
	</div>
</div>
<!-- ENDIF -->
