<dl style="clear: left;">
	<dt><label>{L_POSTING_PREFIXES}:</label></dt>
	<dl>
		<ul id="available_prefixes" class="prefix_sortable">
			<!-- BEGIN prefix_option -->
			<li>
				<span style="{prefix_option.STYLE}">{prefix_option.TITLE}</span>
			</li>
			<!-- END prefix_option -->
		</ul>

		<ul id="used_prefixes" class="prefix_sortable">
			<!-- BEGIN prefix_used -->
			<li>
				<span style="{prefix_used.STYLE}">{prefix_used.TITLE}</span>
			</li>
			<!-- END prefix_used -->
		</ul>
	</dl>
</dl>
